.about{
    padding: 1rem;
}
.about1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    padding: 2rem;
    padding-top: 10rem;
}
.heading-about{
    font-size: 3rem;
}
.heading-about2{
    font-size: 3rem;
    font-weight: 400;
}
.about2{
    display: block;
    padding: 1rem;
}

@media(max-width:768px){
    .about1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        padding: 2rem;
        padding-top: 10rem;
    }
}