.about{
    padding: 1rem;
}
.about1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    padding: 2rem;
    padding-top: 10rem;
    border-bottom: #F1F1F3 0.1rem solid;
}
.heading-about{
    font-size: 3rem;
}
.para-about1, .para-about2 {
    font-size: 1rem;
}
.para-about2{
    padding-top: 2rem;
}
.heading-about2{
    font-size: 3rem;
    font-weight: 400;
}
.about2{
    display: block;
    padding: 1rem;
    margin: 1rem;
}
.about2-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
   
}
.about2-2{
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    
}
.heading-about2-1{
    font-size: 1.5rem;
    font-weight:bold;
}
.icon{
    background-color: #FFF4E5;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
}
.about3{
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}
.about3-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-btn{
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: #FF9500 ;
    color: white;
    border-style: none;
}
.heading-about3{
    font-size: 3rem;
    font-weight: bold;
}
.span{
    
    color: #FF9500;
}

@media(max-width:768px){
    .about1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        padding: 2rem;
        padding-top: 10rem;
    }
    .about2-1{
        grid-template-columns: repeat(1,1fr);
    }
    .about3-1{
        display: block;
    }
}