.footer{
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.para{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    
}
.footer-heading{
    font-size: 2rem;
    text-align: center;

}
.link-1{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.link-1:hover{
    color:#FF9500;
}
.link2{
    color: black;
}
.link2:hover{
    color: #FF9500;
}
.list1{
    list-style: none;
    padding: 1rem;
}

@media (max-width: 768px) {
    .footer {
        display: block;
      
        padding: 1rem; /* Reduce padding on mobile */
    }
    
    .footer-heading {
        font-size: 1.2rem; /* Adjust heading font size */
        text-align: center;
    }

    .link-1,
    .link2 {
        font-size: 1.2rem; /* Adjust link font size */
    }

    .social {
        gap: 1rem; /* Adjust gap for social icons */
    }
}